* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
html {
	scroll-behavior: smooth;
}
/*nav*/
nav {
	background-color: #333;
	height: 65px;
	width: 100%;
	align-items: center;
	color: white;
	position: relative;
	z-index: 99;
	display: flex;
	justify-content: space-around;
}
.ul2 {
	display: none;
}
.ul3 {
	display: none;
}
/*nav end*/
i2 {
	display: none;
}
.toggle {
	display: none;
}
h3 {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1rem;
}
ul {
	display: flex;
	gap: 40px;
}
li {
	list-style: none;
}
a {
	color: white;
	text-transform: uppercase;
	transition: .4s;
	outline: none;
	cursor: pointer;
	background-color: none;
	font-weight: 700;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	outline: none;
	color: gray;
	background-color: none;
	text-decoration: none;
}
section {
	height: 600px;
	width: 100%;
	align-items: center;
	display: flex;
	grid-template-columns: 1fr 1fr;
	color: black;
	padding: 0 50px 0 ;
	justify-content: space-around;
}

.my {
	font-size: 35px;
}
.info_title {
	text-transform: uppercase;
	position: relative;
	letter-spacing: 5px;
}
.info_title:before {
	content: " ";
	width: 10px;
	height: 2px;
	margin-left: -20px;
	top: 35%;
	z-index: 1;
	position: absolute;
	border-bottom: 1px solid gray;
}
.hero_image {

	height: 300px;

}
article {
	height: 680px;
	padding: 10px;
	background-color: lightgray;
	width: 100%;
	align-items: center;
	align-content: center;
	display: flex;
	flex-flow: wrap row;
	color: black;
}
#service {
	width: 100%;
	justify-content: center;
	margin-top: -200px;
	display: flex;
	height: fit-content;
}
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
}
h4 {
	font-size: 30px;
}
.kotak {
	background-color: white;
	width: 200px;        
	align-items: center;
	justify-content: center;
	height: 200px;
	text-align: center;
	display: flex;
	flex-flow: wrap column;
	color: black;
	padding: 10px;
	cursor: pointer;
	transition: .5s;
	border-radius: 5px;
	margin: 0 auto;
}
.kotak:hover {
	background-color: white;
	width: 200px;
	box-shadow:  0 0 8px 0 black;
	height: 200px;
	color: gray;
	cursor: pointer;
	border-radius: 5px;
	margin: 0 auto;
}
i {
	font-size: 50px;
}
footer {
	background-color: #333;
	height: 200px;
	align-items: center;
	display: flex;
	flex-flow: wrap column;
	width: 100%;
	color: whitesmoke;
	justify-content: center;
}
.media {
	padding-top: 10px;
}
i3 {
	font-size: 40px;
}
@media screen and (max-width: 760px){

	ul {
		display: none;
	}
.hero_image {

	height: 350px;

}
	#service {
		width: 100%;
		justify-content: center;
		margin-top: 0px;
		display: flex;
		height: fit-content;
	}
	.ul3 {
		display: flex;
	}
	.toggle {
		display: flex;
    }
    i2 {
    	font-size: 35px;
    	display: flex;
    	outline: none;
    	cursor: pointer;
    }
	section {
		display: flex;
		padding: 40px;
		text-align: center;
		flex-flow: wrap column;
	}

	article {
		display: flex;
		gap: 30px;
		justify-content: center;
		height: 900px;
		align-items: center;
		flex-flow: wrap column;
	}
	.toggle_hilang {
		display: none;
	}
	.ul2 {
	background-color: #444;
	height: 405px;
	width: 100%;
	margin-left: -900px;
	margin-top: 0px;
	flex-flow: wrap column;
	transition: .5s;
	align-items: center;
	position: absolute;
	color: white;
	display: flex;
	justify-content: space-around;
}
.ul3 {
	background-color: #444;
	height: 405px;
	width: 100%;
	margin-left: 0;
	margin-top: 0px;
	flex-flow: wrap column;
	transition: .4s;
	align-items: center;
	position: absolute;
	color: white;
	display: flex;
	justify-content: space-around;
}

}
@media screen and (max-width: 463px) {

	.hero_image {

	height: 200px;

}
}